@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1vh;
}

.white {
  color: white;
}

.blah {
  text-align: center;
}

.title {
  width: 100%;
}

.t0 {
  fill: #fff;
}

.t1 {
  fill: #95d5d2;
}

.t2 {
  fill: #898b8e;
}

.t3 {
  fill: #a7a9ac;
}

.t4 {
  fill: #a7a9ac;
  stroke: #a7a9ac;
  stroke-width: 3.0577;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.walleye {
  width: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes spin {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-animate {
  -webkit-animation: finish-spin 0.5s linear forwards;
  animation: finish-spin 0.5s linear forwards;
}

@-webkit-keyframes finish-spin {

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes finish-spin {

  to {
    transform: rotate(0deg);
  }
}

.w0 {
  fill: #95d5d2;
  stroke: #95d5d2;
  stroke-miterlimit: 10;
}

.w1 {
  fill: none;
  stroke: #23bdbd;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.w2 {
  fill: none;
  stroke: #23bdbd;
  stroke-width: 1.8221;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.w3 {
  fill: none;
  stroke: #23bdbd;
  stroke-width: 1.7618;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.w4 {
  fill: #95d5d2;
}

.w5 {
  fill: #a7a9ac;
}

.w6 {
  fill: #0094b0;
}

.w7 {
  fill: none;
  stroke: #007d95;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.w8 {
  fill: #007d95;
}

.w9 {
  fill: none;
  stroke: #23bdbd;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.w10 {
  fill: #fff;
}

.w11 {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.big-canada {
  width: 100%;
  transition: all 200ms ease-in;
}

.canada {
  fill:#9fc195;
}

.brown {
  fill:#7d6f78;
}

.lightblue {
  fill: #95d5d2;
  stroke: #95d5d2;
  stroke-miterlimit: 10;
}

.mediumblue {
  fill: #23bdbd;
}

.darkgreen-strokes {
  fill: none;
  stroke: #169293;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.darkblue {
  fill: #0094b0;
}

.darkgreen {
  fill: #169293;
  stroke: #169293;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.darkblue-2 {
  fill: #0094b0;
  stroke: #169293;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.darkerblue-strokes {
  fill: none;
  stroke: #007d95;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.darkgreen-strokes-2 {
  fill: none;
  stroke: #169293;
  stroke-width: 0.25;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.white-eye {
  fill: #fff;
}

.big-canada path:not(.canada), .big-canada circle:not(.canada), .big-canada ellipse:not(.canada) {
  opacity: 0;
  transition: all .5s linear;
}

.fade-in path:not(.canada), .fade-in circle:not(.canada), .fade-in ellipse:not(.canada) {
  opacity: 1;
}

.big-canada.fade-in .big-lake-tout {
  transition-delay: .15s;
}

.big-canada.fade-in .northern-pike {
  transition-delay: .25s;
}

.big-canada.fade-in .large-mouth-bass {
  transition-delay: .35s;
}

.big-canada.fade-in .giant-bluefin-tuna {
  transition-delay: .45s;
}

.big-canada.fade-in .giant-atlantic-salmon {
  transition-delay: .55s;
}

.big-canada.fade-in .small-mouth-bass {
  transition-delay: .65s;
}

.big-canada.fade-in .yellow-perch {
  transition-delay: .75s;
}

.big-canada.fade-in .walleye-2 {
  transition-delay: .85s;
}

.big-canada.fade-in .great-white-sturgeon {
  transition-delay: .95s;
}

.leaf {
  width: 100%;
  -webkit-animation: svg-jiggle 1s linear infinite;
  animation: svg-jiggle 1s linear infinite;
}

@-webkit-keyframes svg-jiggle {

  0% {
    -webkit-transform: rotate(0);
  }

  33% {
    -webkit-transform: rotate(15deg);
  }

  66% {
    -webkit-transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(0);
  }
}

@keyframes svg-jiggle {

  0% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(15deg);
  }

  66% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.le0 {
  fill: #7d6f78;
}

.human {
  fill: #9fc195;
  transition: all .5s linear;
  -webkit-transform: translate(-500px);
  transform: translate(-500px);
}

.human-4 {
  transition-delay: .25s;
}

.human-9 {
  transition-delay: .25s;
}

.human-3 {
  transition-delay: .5s;
}

.human-8 {
  fill: #95d5d2;
  transition-delay: .5s;
}

.human-2 {
  transition-delay: .75s;
}

.human-7 {
  transition-delay: .75s;
}

.human-1 {
  transition-delay: 1s;
}

.human-6 {
  transition-delay: 1s;
}

.le2 {
  fill: #95d5d2;
}

.slide .human {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.slide {
  -webkit-animation: none;
  animation: none;
}

.worm-graph {
  width: 100%;
}

.wg0 {
  fill: #fff;
}

.wg1 {
  fill: none;
  stroke: #fff;
  stroke-width: 0.861;
  stroke-miterlimit: 10;
}

.wg2 {
  fill: #7d6f78;
  stroke: #000;
  stroke-width: 0.861;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 2s linear;
  -webkit-transform-origin: 50px 0;
  transform-origin: 50px 0;
}

.js-svg-animate .wg2 {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
